<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springtest.dao.BoardDAO">
  <select id="getBoardList" resultType="kr.green.springtest.vo.BoardVo">
    select * from board
  </select>
  <select id="getBoard" resultType="kr.green.springtest.vo.BoardVo">
    select * from board where num = #{num}
  </select>
</mapper> 