@charset "UTF-8";

.container.body{
	min-height: 800px;
	margin-top:50px;
} 
.info{
	display:inline-block;
	float:right;
}
.line{
	width:100%;
	height:1px;
	background-color:grey;
	margin:5px 0;
}