<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.controller.dao.BoardDao">
  <select id="getBoardList" resultType="kr.spring.controller.vo.BoardVo">
    select * from board
  </select>
  <select id="getBoard" resultType="kr.spring.controller.vo.BoardVo">
  	select * from board where num = #{num}
  </select>
  <update id="increaseViews">
  		update board
  			set
  				views=views+1
  			where
  				num=#{num}
  </update>
  <insert id="registerBoard">
  	insert into board(title,writer,content)
  	values(#{title},#{writer},#{content})
  </insert>
</mapper>
