<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.controller.dao.UserDao">
  <select id="getUser" resultType="kr.spring.controller.vo.UserVo">
  	select * from user where id=#{id}
  </select>
  <insert id="insertUser">
  	insert into
  		user(id,pw,email,gender)
  		values(#{user.id},#{user.pw},#{user.email},#{user.gender})
  </insert>
  <update id="updatePw">
  	update user
  		set	pw=#{user.pw}
  		where id=#{user.id}
  </update>
</mapper>
